#container {
  text-align: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 5rem;
  padding: 0 13rem 0 13rem;
}

#container strong {
  font-size: 20Gx;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.users {
  text-align: left;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

app-user-info:last-child {
  grid-column: auto / span 2;
  padding: 0 15rem 0 15rem;
}
